@import "../style/variables.style.scss";

.comments-main {
  height: calc(100vh - 60px);
  background-color: $white_color;

  .comments-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;

    .avtar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $primary_color;
    }
    .header-comments {
      color: $primary_color;
    }
  }

  .comments-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 135px);

    .comments {
      height: calc(100vh - 135px);
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .post-content {
      padding: 0rem 1rem;
      display: flex;
      gap: 0.5rem;
    }

    // input textfield and emoji picker style
    .comment-input-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      border-top: 2px solid #11057e0d;

      input {
        width: 100%;
        border: none;
        padding: 1rem 1rem 1rem 0rem;
        outline: none;
      }
      .emoji-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 5px;
        margin-left: 10px;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
      .emoji-picker-container {
        position: absolute;
        bottom: 60px;
        left: 0;
        z-index: 10;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
